<!DOCTYPE html> 
<html> 
    <head> 
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width"> 
        <title>ProduitMySQL.ejs</title> 
    </head> 

    <body> 
        <div> 
            <h3>Fiche produit</h3> 
            <p> 
                Produit n&deg;<%= code %> 
                <br>D&eacute;signation : <%= designation %> 
                <br>Prix : <%= prix %> &euro; 
                <br><img src='/images/<%= photo %>' alt='Photo du produit' title='Photo du produit' /> 
            </p> 

            <p><%=message %></p>
            <p><a href="/">Accueil</a></p>

        </div> 
    </body> 
</html> 